storage/files/MAGIC/open/default/*.png filter=lfs diff=lfs merge=lfs -text
storage/default_file/service_provider/*.png filter=lfs diff=lfs merge=lfs -text
storage/default_file/magic/*.png filter=lfs diff=lfs merge=lfs -text
