# Magic Service Base URL
MAGIC_SERVICE_BASE_URL=""
# Magic Public CDN URL
MAGIC_PUBLIC_CDN_URL=""
# Magic Socket Base URL
MAGIC_SOCKET_BASE_URL=""
# Magic App Environment
MAGIC_APP_ENV= ""
# Magic Gateway Address
MAGIC_GATEWAY_ADDRESS= ""
# Magic Amap Key
MAGIC_AMAP_KEY= ""